
    i.fa-question-circle {
        color: rgb(194, 136, 12);
      }
      i.fa-exclamation-circle {
        color: rgb(0, 134, 0);
      }
      #count {
        font-size: 14pt;
      }
  
      h1,h2,h3,h4,h5,.navbar-brand {
        color: rgb(28, 112, 151) !Important;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
      }
      .artist-image {
        width: 100%;
        /* Or whatever fixed width you prefer */
        height: auto;
        /* Maintains aspect ratio */
        object-fit: cover;
        display: block;
      }
  
      #map {
        height: 400px;
        /* The height is 800 pixels */
        width: 100%;
        /* The width is 800 pixels */
      }
  
      .tab-pane {
        padding-top: 30px;
      }
  
      .artwork_accordion {
        cursor: pointer;
      }
  
      .artwork_accordion:hover {
        color: grey !important;
      }
  
      .modalHolder {
        font-style: italic;
      }
  
      /* This should make your Bootstrap modal larger */
      #artworkModal .modal-dialog {
        max-width: 90%;
        /* You can change this to suit your needs */
        width: auto;
        /* This will make the modal take up the necessary width */
        height: auto;
        /* This will make the modal take up the necessary height */
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
  
      /* The modal content will also have to be resized to fill the new modal size */
      #artworkModal .modal-content {
        width: 100%;
        height: 100%;
      }
  
      #artworkHolder > label {
        font-weight: 600;
      }